<configuration>
    <system.serviceModel>
        <services>
            <service name="WCFCisterna.Cisterna">
                <endpoint address="http://localhost:8000/Cisterna"
                          binding="basicHttpBinding"
                          contract="WCFCisterna.ICisterna"/>
            </service>
        </services>
    </system.serviceModel>
</configuration>
