<configuration>
    <system.serviceModel>
        <services>
            <service name ="G2025.Septembar.Chat">
                <endpoint   address="http://localhost:8000/Chat"
                            binding="wsDualHttpBinding"
                            contract="G2025.Septembar.IChat"/>
            </service>
        </services>
    </system.serviceModel>
</configuration>
