<configuration>
    <system.serviceModel>
        <services>
            <service name="WCFKalkulator.Kalkulator">
                <endpoint address="http://localhost:8000/Kalkulator"
                          binding="wsDualHttpBinding"
                          contract="WCFKalkulator.IKalkulator"/>
            </service>
        </services>
    </system.serviceModel>
</configuration>
